<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="./stylesheets/navbarStyles.css">
    <link rel="stylesheet" href="./stylesheets/layoutStyle.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Freehand&family=Nunito+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <div class="container">
            <div class="register-card">
                <div class="register-card-body">
                    <h2 class="register-card-title">Register</h2>
                    <form action="/register" method="post" class="needs-validation register-form">
                        <div class="row">
                            <section class="col-2">
                                <label for="user[username]" class="form-label">Username </label>
                                <input type="text" name="username" id="user[username]" class="form-control"
                                    minlength="8" required>
                            </section>
                            <section class="col-2">
                                <label for="user[name]" class="form-label">Name </label>
                                <input type="text" name="name" id="user[name]" class="form-control" required>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col-2">
                                <label for="user[password]" class="form-label">Password </label>
                                <input type="password" name="password" id="user[password]" class="form-control"
                                    minlength="8" required>
                            </section>
                            <section class="col-2">
                                <label for="user[phoneNumber]" class="form-label">Phone Number </label>
                                <input type="number" name="phoneNumber" id="user[phoneNumber]" class="form-control"
                                    minlength="10" maxlength="10" required>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col-center">
                                <label for="user[email]" class="form-label">email </label>
                                <input type="email" name="email" id="user[email]" class="form-control" required>
                            </section>
                        </div>
                        <section>
                            <button type="submit" class="register-btn">Register</button>
                            <a href="/login" class="link">Already have an account ? <span
                                    style="display: block;">Login</span> </a>
                        </section>
                    </form>
                </div>
            </div>
        </div>
        <script>
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>

</body>

</html>